body {
  font-family: Arial, Verdana, Tahoma;
  background-color: rgb(37, 105, 105);
  text-align: center;
  margin: 30px;
}
header {
  display: inline-block;
  nav {
    margin: 5px;
    border-radius: 10px;
    border: black;
    box-sizing: border-box;
  }
}
header,
footer {
  width: 100%;
  background-color: rgb(128, 40, 25);
  box-shadow: 1px 1px 10px #ccc;
  padding: 20px;
  box-sizing: border-box;
}
footer {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  width: 97%;
}
header nav {
  float: right;
  margin-top: -8px;
}
header nav a {
  text-decoration: none;
  color: black;
  margin: 15px;
}
header nav a:hover {
  color: #333;
}
.img {
  width: 100%;
}
section {
  width: 70%;
  float: left;
}
aside {
  width: 30%;
  float: right;
}
.clearfix {
  clear: both;
}
footer p {
  text-align: center;
  font-family: ARIAL, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
.logo {
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
  height: auto;
}
.container {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: flex-start; /* Mantém a logo à esquerda */
}
@media (max-width: 700px) {
  header {
    text-align: center;
    display: inline-block;
    float: none;
  }
  header nav,
  section,
  aside {
    width: 100%;
  }
  header nav a {
    margin: 5px;
  }
}
.fontsize {
  font-size: 20px;
}
.btn {
  display: inline-block;
  position: relative;
  background: violet;
  padding: 7px 12px 7px 12px;
  border: 2px solid;
  border-radius: 20px;
}
.btn:hover {
  transition: 0.2s;
  background-color: red;
}
p {
  margin: 20px;
}
