* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}
html {
  scroll-behavior: smooth;
}
.header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 30px 80px;
}
.navbar a {
  color: white;
  padding: 15px;
}
navbar:hover {
  color: red;
  text-decoration: none;
}
.title-h1 {
  text-align: center;
  color: white;
  font-family: "Gill Sans";
}
.text-about {
  float: right;
  color: white;
  font-size: 23px;
  background: transparent;
}
.body {
  background-image: url(https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg?t=st=1742859816~exp=1742863416~hmac=3e56c10f4833ad1d10a12e40c00959295c4e809864f29225f7c3fca0f0a777c3&w=1380);
  width: 100% no-repeat;
  position: inherit;
}
.footer-about {
  text-align: center;
  background-color: transparent;
  position: absolute;
  width: 99.4%;
  bottom: 0;
  color: white;
  font-family: "Gill Sans";
}
